services:
  - type: web
    name: metabyte-portfolio
    runtime: node
    region: frankfurt
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXT_TELEMETRY_DISABLED
        value: "1"
      - key: OPENAI_API_KEY
        sync: false  # Нужно добавить вручную в Dashboard Render
    healthCheckPath: /
    autoDeploy: true
